{
	frankenphp
	order mercure after encode
	order php_server before file_server
}

:80 {
	root * /app/public
	encode zstd br gzip

	mercure {
		publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_JWT_ALG}
		subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_JWT_ALG}
		cors_origins *
		anonymous
		subscriptions
	}

	php_server
}
